Flask
Cython==0.29.21
librosa==0.8.0
matplotlib==3.3.1
numpy==1.21.6
phonemizer==2.2.1
scipy
torch
torchvision
Unidecode==1.1.1
pyopenjtalk==0.2.0
jamo==0.4.1
pypinyin==0.44.0
jieba==0.42.1
cn2an==0.5.17
jieba==0.42.1
ipython==7.34.0
gradio==3.4.1
openai
inflect
pydub
eng_to_ipa
onnxruntime
protobuf==3.20.0
transformers>=4.26.1
icetk
cpm_kernels
